{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section style="background-image: url(https://www.mmv.fr/images/home/hiver.jpg);
  height: 550px; background-position: center; background-repeat: no-repeat;">
        Where is your home?
    </section>
    {% include 'home/clubsmmv.html.twig' %}
{% endblock %}
